<!-- Administrator navbar -->
<div ng-controller="administratorController">
	
	<!-- Navigation -->
	<div id="navigation" class="container" ng-hide="navHide">
		<div class="btn-group-vertical">
			<button type="button" class="btn btn-primary btn-lg" ng-click="mapStart()">Map</button>
			<button type="button" class="btn btn-primary btn-lg" ng-click="usersStart()">Users</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="uploadModalShow()">Upload</button>
		</div>
	</div>
	
	<!-- Section -->
	<section>
		<div id="pointList">
			<div id="cursorPosition" class="alert alert-info"></div>
			<div id="cursorNewPosition" class="alert alert-info"></div>
			<div id="searchMarkerName">
				<input type="text" class="form-control" placeholder="Marker name" ng-model="markerName">
				<button class="btn btn-link" type="button" ng-click="searchMarkerNameCancel()">Cancel</button>
				<button class="btn btn-info" type="button" ng-click="searchMarkerName()">Search</button>
			</div>
			
			<users-list></users-list><!-- List of users -->
		</div>
		<div id="map" alt="Ukraine map"></div>
	</section>
	
	<!-- Upload -->
	<div class="container" ng-controller="uploadController">
	<button id="uploadModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#upload" style="display:none" ng-click="uploadStart()">Open Modal</button>
	<div id="upload" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<form ng-submit="uploadModalSubmit()" role="form">
				<div class="modal-header">
					<h4 class="modal-title">Upload sector</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input id="file" type="file" style="margin-bottom:10px;">
						<div class="alert alert-danger" ng-show="fileError">Select file, please!</div>
						<button type="button" class="btn btn-primary" ng-click="upload()" ng-disabled="uploadReadFile">Read file</button>
						<br><div class="alert alert-info" ng-show="processingFile" style="margin-top: 10px;">File in process</div>
					</div>
					<div class="form-group">
						<ul id="markerData">
							<li class="content" ng-repeat="marker in markers">
								<div ng-class="marker.selected">
									<div class="number">{{marker.number}}</div>
									<div>Name<input type="text" ng-model="marker.name" size="30" required></div>
									<div>Sector {{marker.sector}}</div>
									<div>Latitude<input type="text" ng-model="marker.lat" size=8 ng-change="latLngChange($index)" required></div>
									<div>Longitude<input type="text" ng-model="marker.lng" size=8 ng-change="latLngChange($index)" required></div>
								</div>
								<div class="remove" ng-click="uploadRemove($index)">X</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<!-- Progress bar -->
					<div class="progress" ng-show="progressBar">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							0%
						</div>
					</div>
					<div class="alert alert-danger editError" ng-show="editError.errorMsg">Fatal error: {{errorMsg}}</div>
					<div class="alert alert-danger editError" ng-show="editError.fieldEmpty">You should fill in empty field(s)</div>
					<div class="alert alert-danger editError" ng-show="editError.markersEmpty">There is none of markers to save</div>
					<div class="alert alert-danger editError" ng-show="editError.markersNumber">Number of markers is too big</div>
					<div class="alert alert-danger editError" ng-show="editError.sector">Some sector(s) is undefined</div>
					<div class="alert alert-info editError" ng-show="editError.save">Some equal markers was found</div>
					<button id="uploadModalOK" type="button" data-dismiss="modal" style="display:none;"></button>
					<div id="footer">
						<p>Number of elements: {{parsedLength}}</p>
						<button type="submit" class="btn btn-success" ng-click="uploadSave()" ng-disabled="save">Save</button>
						<button type="submit" class="btn btn-success" ng-click="nextPool()" ng-disabled="next">Next</button>
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>

<!-- Map controller -->
<div ng-controller="mapController" style="height:0px;">

	<div class="container">
	<button id="editModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="mapMarkerEdit()" style="display:none;">Open Modal</button>
	<!-- Marker edit -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<form ng-submit="editModalSubmit()" role="form">
				<div class="modal-header">
					<h4 class="modal-title">Marker edit</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="usr">Name:</label>
						<input type="text" class="form-control" ng-model="obj.content.name" maxlength="10" required>
					</div>
					<div class="form-group">
						<label for="usr">Sector: {{obj.content.sector}}</label>
					</div>
					
					<!-- <div class="form-group">
						<label for="sel">Sector:</label>
						<select class="form-control" ng-model="sectorSelected">
							<option ng-repeat="x in sectors">{{x}}
						</select>
					</div> -->
				</div>
				<div class="modal-footer">
					<button id="editModalOK" type="button" data-dismiss="modal" style="display:none;"></button>
					<button type="submit" class="btn btn-success">OK</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>

	<div class="container">
	<button id="removeModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#remove" style="display:none;">Open Modal</button>
	<!-- Marker remove -->
	<div id="remove" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<form ng-submit="removeModalSubmit()" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Marker remove</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="form-group">
							Are You sure to remove this marker?
						</div>
					</div>					
				</div>
				<div class="modal-footer">
					<button id="removeModalOK" type="button" data-dismiss="modal" style="display:none;"></button>
					<button type="submit" class="btn btn-success">Yes</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	</div>
	
	<div class="container">
	<button id="sectorChangeModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#sectorChange" style="display:none;">Open Modal</button>
	<!-- Marker remove -->
	<div id="sectorChange" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<form ng-submit="sectorChangeModalSubmit()" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Sector change</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="form-group">
							Are You sure to change this sector?
						</div>
					</div>					
				</div>
				<div class="modal-footer">
					<button id="sectorChangeModalOK" type="button" data-dismiss="modal" style="display:none;"></button>
					<button type="submit" class="btn btn-success">Yes</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	</div>

</div>
<!-- Map controller_(end) -->
	
</div>