<!DOCTYPE html>
<html>
<head>
	<title>Server site</title>
	<meta charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="appl">

	<div ng-controller="applController">
		<h3>RESPONSE</h3>
		<p>{{content}}</p>
		<p>statuscode {{statuscode}}</p>
		<p>statustext {{statustext}}</p>
		<p><button type="button" ng-click="methodGET()">methodGET</button></p>
		<p><button type="button" ng-click="methodPUT()">methodPUT</button></p>
		<p><button type="button" ng-click="methodPOST()">methodPOST</button></p>
		<p><button type="button" ng-click="methodDELETE()">methodDELETE</button></p>
	</div>
	
	<script>
		var message=null;
		var messageJSON=null;
		angular.module('appl',[]).controller('applController',function($scope,$http){
			message={
					'email' : "email_text",
					'password' : "password_text"
				};
			messageJSON=angular.toJson(message);
			
			//GET
			$scope.methodGET=function(){
				$http({
					method : "GET",
					url : "../backEnd/xmlParser.php/Ukraine_B3.kml"
					//url : "../backEnd/marker.php/markers"
				}).then(function mySucces(response) {
					console.info("Success");
					$scope.content = response.data;
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext;
					
					var data=response.data;
					for (var i=0; i<data.length; i++){
						console.log(i,data[i]);
					}
															
				}, function myError(response) {
					console.error("Error");
					$scope.content = response.data;
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext
				});
			}
			
			//PUT
			$scope.methodPUT=function(){
				data='{"lat":9,"lng":26.7626953125,"name":"Point8"}';//"sector":"L1",
				$http({
					method : "PUT",
					url : "marker.php/users/5",
					data: data
				})
				.then(function successCallback(response){
					console.info("Success");
					$scope.content = response.data;
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext; 
				},
				function errorCallback(response){
					console.error("Error");
					$scope.content = response.data;
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext; 
				});
			}
			
			//POST
			$scope.methodPOST=function(){
				//data='{"id":4,"lat":50.930738023718185,"lng":26.7626953125,"sector":"L1","name":"Point"}';
				$http.post('marker.php/markers',data)
					.success(function(data, status, headers, config){
						console.info("Success");
						$scope.content = data;
						console.log(status + ' - ' + data);
						$scope.statuscode = status;
					})
					.error(function(data, status, headers, config){
						console.log('error');
						console.log(status + ' - ' + data);
						$scope.content = data;
						$scope.statuscode = status;
					});
			}
			
			//DELETE
			$scope.methodDELETE=function(){
				$http({
					method : "DELETE",
					url : "marker.php/markers/7",
				})
				.then(function mySucces(response) {
					$scope.greeting = response.data;//Common data
					$scope.content = response.data;
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext; 
				},
				function myError(response) {
					$scope.greeting = response.statusText;
				});
			}
		});
	</script>
</body>
</html>